html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  position: relative;
  text-align: center;
  max-height: 500px;
  overflow: hidden;
  display: block;
  width: 100%;
  border-bottom: 4px solid rgba(0, 0, 0, .5);
}

.img-flex img {
  width: 100%;
}

.banner {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  left: 10em;
  max-width: 40em;
  transform: translate(120px, 0);
  text-align: left;
}

.banner h2,
.banner p {
  margin: 0;
}

.banner h2 {
  font-size: 4rem;
  color: #fff;
  background-color: rgba(0, 0, 0, .5);
  padding: 0;
  margin-bottom: 10px;
}

.banner p {
  font-size: 2rem;
}
