html {
  box-sizing: border-box;
  font: normal 100%/1.5 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  max-height: 500px;
  overflow: hidden;
}

div img.img-flex {
  width: 100%;
}

.banner {
  position: absolute;
  bottom: 1.5em;
  width: 100%;
  color: #fff;
  max-width: 50em;
}

.banner h2,
.banner p {
  margin: 0;
}
